<header>
    <div class="titleIndex">
        <h1 >Hoja de Vida </h1>
    </div>
</header>






<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h2> Fabio </h2>
        <h2> Quintero </h2>
        <h3> Armenia 19 de Abril de 1982 </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet eum aliquid officiis nihil quia inventore quae, maiores qui neque harum odio odit officia! Tempora molestias iste assumenda consectetur rem!</p>
        <img src="./img/PE_perito.png" alt="pepito">
        <a href="../html/views/educacion.html">Educacion</a>
    </div>
  </div>